@inject ICMSService CMS

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">@ViewModel.SiteName</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Blog
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                        About
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="projects" Match="NavLinkMatch.All">
                        Projects
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="contact" Match="NavLinkMatch.All">
                        Contact
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@functions {
    Global ViewModel { get; set; } = new Global();

    protected override async Task OnInitializedAsync()
    {
        ViewModel = await CMS.GetGlobal();
    }
}
