@inherits BlazorLayoutComponent
@inject ICMSService CMS

<style>
    nav.navbar {
        position: fixed;
        z-index: 1;
        width: 100%;
        top: 0;
    }

    .app-content {
        margin-top: 56px;
    }
</style>

<Sidebar ref="sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href="" style="text-decoration: none;">@GlobalConfig.SiteName</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarItem>
                <SidebarLink To="portfolio" Title="Portfolio">
                    <Icon Name="IconName.Person" Margin="Margin.Is3.FromRight" />Portfolio
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="blog" Title="Blog">
                    <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />Blog
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="contact" Title="Contact Me">
                    <Icon Name="IconName.Mail" Margin="Margin.Is3.FromRight" />Contact
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

<div class="app-main">
    <Bar Class="app-bar" Breakpoint="Breakpoint.Desktop" Background="Background.Dark" Theme="Theme.Dark">
        <BarToggler Clicked="@ToggleSidebar" Float="Float.Right"></BarToggler>
    </Bar>
    @Body
</div>

@functions{
    Sidebar sidebar;
    Global GlobalConfig { get; set; } = new Global();

    bool collapseNavMenu = true;

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }

    protected override async Task OnInitAsync()
    {
        GlobalConfig = await CMS.GetGlobal();
    }
}