@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<style>
    .blog-categories {
        background: #f7f8fb;
        border-bottom: 1px solid #e6e9f3;
        overflow: hidden;
        padding: 0;
    }

    .blog-categories-container {
        overflow: hidden;
    }



    .blog-categories a {
        display: block;
        color: #545e6f;
        font-size: 16px;
        float: left;
        padding: 15px 30px;
        text-align: center;
        transition: all .2s ease;
        text-decoration: none;
        height: 100%;
    }

        .blog-categories a:first-child {
            padding: 37px 25px;
        }

        .blog-categories a span {
            display: block;
        }

        .blog-categories a:hover {
            background-color: #d2d4d8;
        }

        .blog-categories a.active {
            background: #e9ecf4;
        }

    img.category-icon {
        width: 37px;
    }

</style>