@page "/"
@namespace CalamariBlog.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject CalamariBlog.Services.CMS.Contracts.ICMSService CMS

@{
    var globalModel = await CMS.GetGlobal();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="~/" />
    <partial name="_MetaTags" />
    <title id="metaPlaceHolder"></title>

    <link href="@globalModel.ImageFavicon" rel="icon" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" 
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
          crossorigin="anonymous"
          asp-fallback-href="~/lib/fontawesome-free/css/all.min.css"
          asp-fallback-test-class="fab" asp-fallback-test-property="font-style" asp-fallback-test-value="normal"
          asp-suppress-fallback-integrity="true"  />

    <link href="~/css/framework.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="preload" as="style" onload="this.rel='stylesheet'" asp-append-version="true" />

</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/js/framework.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

</body>
</html>
