<title id="title">Calamari Blog</title>
<meta property="og:title" content="Calamari Blog" id="meta_Title" />
<meta property="og:type" content="website" id="meta_Type" />
<meta property="og:url" content="https://calamari-blog-blazor.azurewebsites.net/" id="meta_Url" />
<meta property="og:image" content="https://cloud.squidex.io/api/assets/e0ea5233-3fbe-4e78-8ba8-e1827d6b3caa" id="meta_Image" />