article img {
    max-width: 100%;
}

.post-heading {
    text-shadow: black 3px 3px 10px;
}

#mainNav {
    text-shadow: black 0px 0px 10px;
}


/* #region Tag Cloud */

.tag-cloud-size-1 {
    font-size: 36px;
}

.tag-cloud-size-2 {
    font-size: 30px;
}

.tag-cloud-size-3 {
    font-size: 24px;
}

.tag-cloud-size-4 {
    font-size: 18px;
}

.tag-cloud-size-5 {
    font-size: 12px;
}

/* #endregion Tag Cloud */

